GUI/Web References/CheckWS/Check.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ChiChuaChuCai">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChiChuaChuCaiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChiChuaChuCaiResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LaMotSoNguyenDuong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LaMotSoNguyenDuongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LaMotSoNguyenDuongResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChiChuaChuSo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChiChuaChuSoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ChiChuaChuSoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ChiChuaChuCaiSoapIn">
    <wsdl:part name="parameters" element="tns:ChiChuaChuCai" />
  </wsdl:message>
  <wsdl:message name="ChiChuaChuCaiSoapOut">
    <wsdl:part name="parameters" element="tns:ChiChuaChuCaiResponse" />
  </wsdl:message>
  <wsdl:message name="LaMotSoNguyenDuongSoapIn">
    <wsdl:part name="parameters" element="tns:LaMotSoNguyenDuong" />
  </wsdl:message>
  <wsdl:message name="LaMotSoNguyenDuongSoapOut">
    <wsdl:part name="parameters" element="tns:LaMotSoNguyenDuongResponse" />
  </wsdl:message>
  <wsdl:message name="ChiChuaChuSoSoapIn">
    <wsdl:part name="parameters" element="tns:ChiChuaChuSo" />
  </wsdl:message>
  <wsdl:message name="ChiChuaChuSoSoapOut">
    <wsdl:part name="parameters" element="tns:ChiChuaChuSoResponse" />
  </wsdl:message>
  <wsdl:portType name="CheckSoap">
    <wsdl:operation name="ChiChuaChuCai">
      <wsdl:input message="tns:ChiChuaChuCaiSoapIn" />
      <wsdl:output message="tns:ChiChuaChuCaiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LaMotSoNguyenDuong">
      <wsdl:input message="tns:LaMotSoNguyenDuongSoapIn" />
      <wsdl:output message="tns:LaMotSoNguyenDuongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChiChuaChuSo">
      <wsdl:input message="tns:ChiChuaChuSoSoapIn" />
      <wsdl:output message="tns:ChiChuaChuSoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckSoap" type="tns:CheckSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChiChuaChuCai">
      <soap:operation soapAction="http://tempuri.org/ChiChuaChuCai" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LaMotSoNguyenDuong">
      <soap:operation soapAction="http://tempuri.org/LaMotSoNguyenDuong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChiChuaChuSo">
      <soap:operation soapAction="http://tempuri.org/ChiChuaChuSo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CheckSoap12" type="tns:CheckSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChiChuaChuCai">
      <soap12:operation soapAction="http://tempuri.org/ChiChuaChuCai" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LaMotSoNguyenDuong">
      <soap12:operation soapAction="http://tempuri.org/LaMotSoNguyenDuong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChiChuaChuSo">
      <soap12:operation soapAction="http://tempuri.org/ChiChuaChuSo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Check">
    <wsdl:port name="CheckSoap" binding="tns:CheckSoap">
      <soap:address location="http://localhost:50136/Check.asmx" />
    </wsdl:port>
    <wsdl:port name="CheckSoap12" binding="tns:CheckSoap12">
      <soap12:address location="http://localhost:50136/Check.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>